<h1><%= t "app" %></h1>

<p><%= "Hi #{@user.name}," %></p>

<p>
  <%= t "mail.content" %>
</p>

<%= link_to t("mail.active"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
